<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<div class="content" layout:fragment="content">
    <div class="main">
        <div id="hidden-block">
            <input type="hidden" id="cdnHost" th:value="${@adminProperties.cdnHost}"/>
            <input type="hidden" id="imgHost" th:value="${@adminProperties.imgHost}"/>
            <input type="hidden" id="httpsHost" th:value="${@adminProperties.httpsHost}"/>
        </div>
        <div class="container">
            <div class="uploader-div">
                <form class="uploader-form" method="post" action="image/upload" enctype="multipart/form-data">
                    <div>
                        <h3 th:text="#{index.dragOr}"></h3>
                        <a class="btn btn-primary uploader-browse-button" th:text="#{index.selectImage}"></a>&nbsp;
                        <input
                                type="file"
                                class="uploader-form-file"
                                name="image"
                                multiple="multiple"/>
                    </div>
                    <div id="fileList"></div>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
            </div>
        </div>
    </div>
    <div class="uploader-links-container hide">
        <div class="container ">

            <div class="panel panel-default uploader-links-panel">
                <div class="panel-heading">
                    <span th:text="#{index.youSelected}" th:remove="tag"></span> <span class="count-result"></span>
                    <span th:text="#{index.totalImage}" th:remove="tag"></span>
                    <button class="btn btn-default btn-xs select-all-btn" th:text="#{index.selectAll}"></button>
                    <button class="btn btn-default btn-xs unselect-all-btn" th:text="#{index.cancel}"></button>
                    <button class="btn btn-default btn-xs copy-all-btn" id="copy_all_btn"
                            data-clipboard-target="links-result" th:text="#{index.copy}">
                    </button>
                    <div class="btn-group" data-toggle="buttons" id="urlModeGroup">
                        <label class="btn btn-xs active btn-default">
                            <input type="radio" name="urlMode" class="urlMode" id="cdnUrlMode" autocomplete="off"
                                   checked="checked"/>
                            CDN
                        </label>
                        <label class="btn btn-xs btn-default">
                            <input type="radio" name="urlMode" class="urlMode" id="simpleUrlMode" autocomplete="off"
                                   th:text="#{index.simple}"/>
                        </label>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="links-left">
                        <div class="list-group">
                            <a href="javascript:void(0)" class="list-group-item active origin-btn"
                               th:text="#{index.originUrl}"></a> <a
                                href="javascript:void(0)" class="list-group-item html-btn">HTML</a>
                            <a href="javascript:void(0)" class="list-group-item bb-btn">BB CODE</a>
                            <a href="javascript:void(0)" class="list-group-item md-btn">MARKDOWN</a>
                        </div>
                    </div>
                    <div class="links-right">
                        <textarea id="links-result" readonly="readonly"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>