<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE" th:inline="text" th:text="#{title.htmlTitle}+' - '+#{title.desc}">
    </title>
    <script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/zeroclipboard/2.2.0/ZeroClipboard.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery-knob/1.2.11/jquery.knob.min.js}"></script>
    <script th:src="@{/js/jquery.iframe-transport.min.js}"></script>
    <script th:src="@{/js/jquery.ui.widget.min.js}"></script>
    <script th:src="@{/js/jquery.fileupload.min.js}"></script>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script th:src="@{/js/upload.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div th:replace="header :: header"></div>
<div layout:fragment="content"></div>
<div th:replace="footer :: footer"></div>
</body>
</html>