
<div class="modal" id="social">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <form action="/login" method="post">
                </form>
                <form th:attr="action='/signin/'+${provider}" th:each="provider : ${loginProviders}" method="post">
                    <img class="login-img"  th:attr=" src='/static/img/logo_'
                        +${provider}+'.png'"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->